@model IEnumerable<ImageTool.ViewModel.ImageList>

 

        <h2>Albums</h2>

        <div class="albumlist pic"> 
            @foreach (var item in Model)
            {
            <div>
                <a href="@Url.Action("Index","GalleryAdmin",new {Id=item.Id })" data-text="@item.Title (50)">
                    <img width="190" height="126" alt="Winter (1)" src="@Url.Action("GetImage", "DownloadFile", new { Area ="" , Id= item.WebImageId, t =2 })">
                </a> 
                <p>@item.Title 
                <a href="@Url.Action("edit",new{ Id=item.Id })">edit</a>
                <a href="@Url.Action("Delete",new{ Id=item.Id })" onclick="$.post(this.href); return false;">Delete</a>

                </p>
            </div>
          
            }
        </div>